/* variables define here */

:root {
    --accent-color: #063247;
    --light-grey: #404040;
    --dark-grey: #16161d;
}

/*  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Header Starts Here */

header {
    height: 110px;
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* media query for header height */
@media only screen and (max-width: 760px) {
    header {
        height: 90px;
    }
}

#header-title {
    justify-self: center;
    align-self: center;
}

/* media query for header title */

@media only screen and (max-width: 1260px) {
    #header-title {
        height: clamp(38px, 10vw, 60px);
        /* background-color: aqua; */
    }
}

@media only screen and (max-width: 760px) {
    #header-title {
        height: clamp(38px, 10vw, 60px);
        /* background-color: aqua; */
    }
}

#header-logo {
    justify-self: start;
    margin-left: 6.250vw;
    align-self: center;
}


/* media query for header logo */
@media only screen and (max-width: 1260px) {
    #header-logo {
        margin-left: 5vw;
        height: clamp(60px, 25vw, 80px);
    }
}

@media only screen and (max-width: 760px) {
    #header-logo {
        margin-left: 0;
        justify-self: center;
        height: clamp(60px, 11vw, 70px);
        /* background-color: aqua; */
    }
}

/* media query for header logo */
@media only screen and (max-width: 560px) {
    #header-logo {
        height: 30px;
        opacity: 0;
        /* background-color: aqua; */
    }
}

#header-nav {
    /* background-color: aquamarine; */
    justify-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    color: white;
}

/* media query for header-nav */
@media only screen and (max-width: 1260px) {
    #header-nav {
        column-gap: 5px;
    }
}


#burger-menu {
    display: none;
    margin-inline-end: 30px;
}

/* media query for header navigation */

@media only screen and (max-width: 900px) {
    #header-nav {
        height: inherit;
        justify-self: end;
    }

    #header-nav>a {
        display: none;
    }

    #burger-menu {
        display: initial;
        justify-self: end;
        height: clamp(20px, 5vw, 25px);
        /* margin-inline-end: 20px; */
    }
}

.nav-links:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.080em;
}

/* Media query for .nav-links:link */
@media only screen and (max-width: 1260px) {
    .nav-links:link {
        font-size: 13px;
    }
}

/* Header ends here */

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* hero section starts here */

#hero-section {
    height: 32.407vh;
    background-image: url(/assets/about-page-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section-logo {
    display: none;
}

/* media query for hero section logo */
@media only screen and (max-width: 560px) {
    #hero-section-logo {
        display: initial;
        height: 100px;
        margin-bottom: 20px;
    }
}

#hero-section-heading {
    text-align: center;
}

#services-title {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 600;
    color: var(--accent-color);
}

/* media query for hero section title */
@media only screen and (max-width: 760px) {
    #services-title {
        font-size: 2em;
    }
}

#services-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--accent-color);
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

/* media query for hero section subtitle */
@media only screen and (max-width: 760px) {
    #services-subtitle {
        font-size: 1em;
    }
}

#hero-divider {
    min-height: 15px;
    max-height: 20px;
    background-color: var(--accent-color);
}

/* hero section ends here */

/* --------------------------------------------------------------------------------------------------------------------------- */




#about-us {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#about-us {
    text-align: center;
}

#about-us>p:first-child {
    margin-top: 200px;
}

#about-us p {
    margin-inline-start: clamp(60px, 10vw, 350px);
    margin-inline-end: clamp(100px, 10vw, 350px);
    margin-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: inherit;
    color: var(--dark-grey);
    line-height: 150%;
    letter-spacing: 0.080em;
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #about-us p {
        font-size: 1em;
    }
}

#who-we-are {
    margin: auto;
    margin-inline-start: clamp(60px, 10vw, 250px);
    margin-inline-end: clamp(60px, 10vw, 250px);
    margin-bottom: 250px;
}

#who-we-are #heading {
    margin-bottom: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: var(--accent-color);
}


/* media query for about us paragraph */
@media only screen and (max-width: 1260px) {
    #who-we-are #heading {
        font-size: 3em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 900px) {
    #who-we-are #heading {
        font-size: 2.5em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #who-we-are #heading {
        font-size: 2em;
    }
}

#who-we-are #body {
    display: flex;
    align-items: center;
}

/* media query for who-we-are body */
@media only screen and (max-width: 1260px) {
    #who-we-are #body {
        display: grid !important;
    }
}


#who-we-are #body #details {
    height: max-content;
    display: grid;
}

#who-we-are #body #details #desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 150%;
    letter-spacing: 0.080em;
    color: var(--dark-grey);
    margin-right: 80px;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 1260px) {
    #who-we-are #body #details #desc {
        text-align: center;
        margin-right: 0px;
    }
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #who-we-are #body #details #desc {
        font-size: 1em;
    }
}


#who-we-are #body #details #contact-us-btn {
    display: inline-flex;
    width: 260px;
    height: 70px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 150%;
    letter-spacing: 0.040em;
    text-decoration: none;
    color: #fff;
}

/* media query for who-we-are contact-us-btn */
@media only screen and (max-width: 1560px) {
    #who-we-are #body #details #contact-us-btn {
        width: 180px;
        height: 60px;
        font-size: 1.2em;
    }
}

/* media query for who-we-are contact-us-btn */
@media only screen and (max-width: 1260px) {
    #who-we-are #body #details #contact-us-btn {
        width: 180px;
        height: 60px;
        justify-self: center;
    }
}

#who-we-are #body img {
    width: 420px;
    height: 560px;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 4px 4px 25px 6px rgba(0, 0, 0, .30);
}

/* media query for who-we-are desc */
@media only screen and (max-width: 1760px) {
    #who-we-are #body img {
        width: 320px;
        height: 426px;
    }
}


/* media query for who-we-are img */
@media only screen and (max-width: 1260px) {
    #who-we-are #body img {
        width: 320px;
        height: 426px;
        margin-bottom: 100px;
        justify-self: center;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media only screen and (max-width: 760px) {
    #who-we-are #body img {
        width: 250px;
        height: 334px;
    }
}

#who-we-are #body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#why-us {
    width: 74vw;
    margin: auto;
    margin-bottom: 250px;
}


#why-us #heading {
    margin-bottom: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: var(--accent-color);
}

/* media query for about us paragraph */
@media only screen and (max-width: 1260px) {
    #why-us #heading {
        font-size: 3em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 900px) {
    #why-us #heading {
        font-size: 2.5em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #why-us #heading {
        font-size: 2em;
    }
}

#why-us #body #list .list-items {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.040em;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #why-us #body #list .list-items {
        font-size: 1em;
    }
}


.list-items:first-child {
    margin-top: 0px;
}

.list-items {
    margin-top: 60px;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #why-us #body #list .list-items {
        margin-top: 20px;
    }
}


ul {
    /* Remove default bullets */
    list-style: none;
}

ul li::before {

    /* Add Unicode of the bullet */
    content: 'o';
    font-weight: 400;

    /* Color of the content -- bullet here */
    color: var(--accent-color);

    /* Required to add space between 
        the bullet and the text */
    display: inline-block;

    /* Required to add space between
        the bullet and the text */
    width: 1.5em;

    /* Required to add space between the
        bullet and the text */
    margin-left: -0.9em;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer starts here */

footer {
    display: grid;
    grid-template-rows: min-content 2fr 1fr;
    width: inherit;
    height: 540px;
    background-color: var(--dark-grey);
}

/* media query for footer */
@media only screen and (max-width: 900px) {
    footer {
        height: 1000px;
        justify-content: center;
    }
}



#footer-title {
    padding-top: 40px;
    margin-left: 100px;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.080em;
}

/* media query for footer title */
@media only screen and (max-width: 1360px) {
    #footer-title {
        /* height: min-content; */
        font-size: 32px;
        /* display: none; */
    }
}

@media only screen and (max-width: 900px) {
    #footer-title {
        margin-left: 70px;
        font-size: 24px;
    }
}

#footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 300px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    margin-block-start: 50px;
}

/* media query for footer links */
@media only screen and (max-width: 900px) {
    #footer-links {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
}

#contact {
    display: grid;
    row-gap: 10px;
}

#location,
#call-us,
#email-us {
    display: flex;
}

#contact-details {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

/* media query for contact icon */
@media only screen and (max-width: 1360px) {
    .contact-icon {
        height: 25px;
        width: 25px;
    }
}

#detail-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
}

/* media query for deatil title */
@media only screen and (max-width: 1360px) {
    #detail-title {
        font-size: 22px;
    }
}

#detail-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-block-start: 5px;
    letter-spacing: 0.040em;
}

#social-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

#social-links-title,
#quick-links-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-decoration-line: underline;
    letter-spacing: 0.040em;
}

/* media query for social-links-title */
@media only screen and (max-width: 1360px) {

    #social-links-title,
    #quick-links-title {
        font-size: 24px;
    }
}

.social-icon {
    width: 26px;
    height: 26px;
}

/* media query for social icon */
@media only screen and (max-width: 1360px) {
    .social-icon {
        width: 20px;
        height: 20px;
    }
}

#whatsapp,
#instagram,
#facebook {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
}

#social-link-name,
#quick-link-name {
    width: max-content;
    height: max-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
    text-decoration: none;
}

/* media query for social-links-title */
@media only screen and (max-width: 1360px) {

    #social-link-name,
    #quick-link-name {
        font-size: 18px;
    }
}

#quick-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

#quick-links-title {
    grid-column: 1/3;
}

#copyright-claims {
    align-self: end;
    display: flex;
    align-items: center;
    padding-inline-start: 100px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
    line-height: 150%;
    color: #fff;
    border-top: 1px solid var(--light-grey);
}


/* media query for copyright claims */
@media only screen and (max-width: 1260px) {
    #copyright-claims {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    #copyright-claims {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        text-align: center;
        line-height: 150%;
    }
}

@media only screen and (max-width: 560px) {
    #copyright-claims {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {
    #copyright-claims {
        height: 150px;
    }
}

/* footer ends here */

/* --------------------------------------------------------------------------------------------------- */