/* variables define here */

:root {
    --accent-color: #063247;
    --light-grey: #404040;
    --dark-grey: #16161d;
}

/*  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#hero-section {
    background-image: url(/assets/about-page-image.png);
}


#about-us {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#about-us {
    text-align: center;
}

#about-us>p:first-child {
    margin-top: 200px;
}

#about-us p {
    margin-inline-start: clamp(60px, 10vw, 350px);
    margin-inline-end: clamp(100px, 10vw, 350px);
    margin-bottom: 200px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: inherit;
    color: var(--dark-grey);
    line-height: 150%;
    letter-spacing: 0.080em;
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #about-us p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 560px) {
    #about-us p {
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }
}

#who-we-are {
    margin: auto;
    margin-inline-start: clamp(60px, 10vw, 250px);
    margin-inline-end: clamp(60px, 10vw, 250px);
    margin-bottom: 250px;
}

@media only screen and (max-width:560px) {
    #who-we-are {
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }
}

#who-we-are #heading {
    margin-bottom: 150px;
    font-family: 'Philosopher', serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: var(--accent-color);
}


/* media query for about us paragraph */
@media only screen and (max-width: 1260px) {
    #who-we-are #heading {
        font-size: 3em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 900px) {
    #who-we-are #heading {
        font-size: 2.5em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #who-we-are #heading {
        font-size: 2em;
    }
}

#who-we-are #body {
    display: flex;
    align-items: center;
}

/* media query for who-we-are body */
@media only screen and (max-width: 1260px) {
    #who-we-are #body {
        display: grid !important;
    }
}


#who-we-are #body #details {
    height: max-content;
    display: grid;
}

#who-we-are #body #details #desc {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 150%;
    letter-spacing: 0.080em;
    color: var(--dark-grey);
    margin-right: 80px;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 1260px) {
    #who-we-are #body #details #desc {
        text-align: center;
        margin-right: 0px;
    }
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #who-we-are #body #details #desc {
        font-size: 1em;
    }
}


#who-we-are #body #details #contact-us-btn {
    display: inline-flex;
    width: 260px;
    height: 70px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 150%;
    letter-spacing: 0.040em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* media query for who-we-are contact-us-btn */
@media only screen and (max-width: 1560px) {
    #who-we-are #body #details #contact-us-btn {
        width: 180px;
        height: 60px;
        font-size: 1.2em;
    }
}

/* media query for who-we-are contact-us-btn */
@media only screen and (max-width: 1260px) {
    #who-we-are #body #details #contact-us-btn {
        width: 180px;
        height: 60px;
        justify-self: center;
    }
}

#who-we-are #body img {
    width: 420px;
    height: 560px;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 4px 4px 25px 6px rgba(0, 0, 0, .30);
}

/* media query for who-we-are desc */
@media only screen and (max-width: 1760px) {
    #who-we-are #body img {
        width: 320px;
        height: 426px;
    }
}


/* media query for who-we-are img */
@media only screen and (max-width: 1260px) {
    #who-we-are #body img {
        width: 320px;
        height: 426px;
        margin-bottom: 100px;
        justify-self: center;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media only screen and (max-width: 760px) {
    #who-we-are #body img {
        width: 250px;
        height: 334px;
    }
}

@media only screen and (max-width: 560px) {
    #who-we-are #body img {
        width: 200px;
        height: 267px;
    }
}

#who-we-are #body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#why-us {
    width: 74vw;
    margin: auto;
    margin-bottom: 250px;
}


#why-us #heading {
    margin-bottom: 150px;
    font-family: 'Philosopher', serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: var(--accent-color);
}

/* media query for about us paragraph */
@media only screen and (max-width: 1260px) {
    #why-us #heading {
        font-size: 3em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 900px) {
    #why-us #heading {
        font-size: 2.5em;
    }
}

/* media query for about us paragraph */
@media only screen and (max-width: 760px) {
    #why-us #heading {
        font-size: 2em;
    }
}

#why-us #body #list .list-items {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.040em;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #why-us #body #list .list-items {
        font-size: 1em;
    }
}


.list-items:first-child {
    margin-top: 0px;
}

.list-items {
    margin-top: 60px;
}

/* media query for who-we-are desc */
@media only screen and (max-width: 760px) {
    #why-us #body #list .list-items {
        margin-top: 20px;
    }
}


ul {
    /* Remove default bullets */
    list-style: none;
}

ul li::before {

    /* Add Unicode of the bullet */
    content: 'o';
    font-weight: 400;

    /* Color of the content -- bullet here */
    color: var(--accent-color);

    /* Required to add space between 
        the bullet and the text */
    display: inline-block;

    /* Required to add space between
        the bullet and the text */
    width: 1.5em;

    /* Required to add space between the
        bullet and the text */
    margin-left: -0.9em;
}