/* variables define here */

:root {
    --accent-color: #063247;
    --light-grey: #404040;
    --dark-grey: #16161d;
}

/*  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* overflow fix for mobile */

@media only screen and (max-width:760px) {

    html,
    body {
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* Header Starts Here */

header,
#header {
    height: 110px;
    width: 100%;
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 0px;
    z-index: 10;
    transition: top 350ms ease-out;
}

/* media query for header height */
@media only screen and (max-width: 760px) {
    header {
        height: 90px;
    }
}

#header-title {
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

/* media query for header title */

@media only screen and (max-width: 1260px) {
    #header-title {
        height: clamp(38px, 10vw, 60px);
        /* background-color: aqua; */
    }
}

@media only screen and (max-width: 760px) {
    #header-title {
        height: clamp(38px, 10vw, 60px);
        /* background-color: aqua; */
    }
}

#header-logo {
    /* width: 146px;
    height: 100px; */
    justify-self: start;
    margin-left: 6.250vw;
    align-self: center;
}


/* media query for header logo */
@media only screen and (max-width: 1260px) {
    #header-logo {
        margin-left: 5vw;
        height: clamp(60px, 25vw, 80px);
    }
}

@media only screen and (max-width: 760px) {
    #header-logo {
        margin-left: 0;
        justify-self: center;
        height: clamp(60px, 11vw, 70px);
        /* background-color: aqua; */
    }
}

/* media query for header logo */
@media only screen and (max-width: 660px) {
    #header-logo {
        height: 30px;
        opacity: 0;
        /* background-color: aqua; */
    }
}

#header-nav {
    /* background-color: aquamarine; */
    justify-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    color: white;
}

a:visited,
.nav-links:visited {
    color: white;
}

/* media query for header-nav */
@media only screen and (max-width: 1260px) {
    #header-nav {
        column-gap: 5px;
    }
}


#burger-menu {
    display: none;
    padding-inline-end: 30px;
    cursor: pointer;
}

/* media query for header navigation */

@media only screen and (max-width: 900px) {
    #header-nav {
        height: inherit;
        justify-self: end;
    }

    #header-nav>a {
        display: none;
    }

    #burger-menu {
        display: initial;
        justify-self: end;
        /* height: clamp(20px, 5vw, 25px); */
        height: 25px;
        /* margin-inline-end: 20px; */
    }
}

.nav-links:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.080em;
}

/* Media query for .nav-links:link */
@media only screen and (max-width: 1260px) {
    .nav-links:link {
        font-size: 13.8px;
    }
}

/* Header ends here */

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* hero section starts here */

#hero-section {
    height: 32.407vh;
    margin-top: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query for hero section */
@media only screen and (max-width: 760px) {
    #hero-section {
        margin-top: 90px;
    }
}

#hero-section-logo {
    display: none;
}

/* media query for hero section logo */
@media only screen and (max-width: 660px) {
    #hero-section-logo {
        display: initial;
        height: 100px;
        margin-bottom: 20px;
    }
}

#hero-section-heading {
    text-align: center;
}

#services-title {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 600;
    color: var(--accent-color);
}

/* media query for hero section title */
@media only screen and (max-width: 760px) {
    #services-title {
        font-size: 2em;
    }
}

#services-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--accent-color);
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

/* media query for hero section subtitle */
@media only screen and (max-width: 760px) {
    #services-subtitle {
        font-size: 1em;
    }
}

@media only screen and (max-height: 740px) {
    #services-subtitle {
        display: none;
    }
}

#hero-divider {
    min-height: 15px;
    max-height: 20px;
    background-color: var(--accent-color);
}

/* hero section ends here */

/* --------------------------------------------------------------------------------------------------------------------------- */






/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer starts here */

footer {
    display: grid;
    grid-template-rows: min-content 2fr 1fr;
    width: inherit;
    height: 540px;
    background-color: var(--dark-grey);
}

/* media query for footer */
@media only screen and (max-width: 900px) {
    footer {
        height: 1000px;
        justify-content: center;
    }
}



#footer-title {
    padding-top: 40px;
    margin-left: 100px;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.080em;
}

/* media query for footer title */
@media only screen and (max-width: 1360px) {
    #footer-title {
        /* height: min-content; */
        font-size: 32px;
        /* display: none; */
    }
}

@media only screen and (max-width: 900px) {
    #footer-title {
        margin-left: 70px;
        font-size: 24px;
    }
}

#footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 300px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    margin-block-start: 50px;
}

/* media query for footer links */
@media only screen and (max-width: 900px) {
    #footer-links {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
}

#contact {
    display: grid;
    row-gap: 10px;
}

#location,
#call-us,
#email-us {
    display: flex;
}

.contact-details {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

/* media query for contact icon */
@media only screen and (max-width: 1360px) {
    .contact-icon {
        height: 25px;
        width: 25px;
    }
}

.detail-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
}

/* media query for deatil title */
@media only screen and (max-width: 1360px) {
    .detail-title {
        font-size: 22px;
    }
}

.detail-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-block-start: 5px;
    letter-spacing: 0.040em;
}

#social-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

#social-links-title,
#quick-links-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-decoration-line: underline;
    letter-spacing: 0.040em;
}

/* media query for social-links-title */
@media only screen and (max-width: 1360px) {

    #social-links-title,
    #quick-links-title {
        font-size: 24px;
    }
}

.social-icon {
    width: 26px;
    height: 26px;
}

/* media query for social icon */
@media only screen and (max-width: 1360px) {
    .social-icon {
        width: 20px;
        height: 20px;
    }
}

#whatsapp,
#instagram,
#facebook {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
}

.social-link-name,
.quick-link-name {
    width: max-content;
    height: max-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
    text-decoration: none;
    cursor: pointer;
}

/* media query for social-links-title */
@media only screen and (max-width: 1360px) {

    .social-link-name,
    .quick-link-name {
        font-size: 18px;
    }
}

#quick-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

#quick-links-title {
    grid-column: 1/3;
}

#copyright-claims {
    align-self: end;
    display: flex;
    align-items: center;
    padding-inline-start: 100px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.040em;
    line-height: 150%;
    color: #fff;
    border-top: 1px solid var(--light-grey);
}


/* media query for copyright claims */
@media only screen and (max-width: 1260px) {
    #copyright-claims {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    #copyright-claims {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        text-align: center;
        line-height: 150%;
    }
}

@media only screen and (max-width: 560px) {
    #copyright-claims {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {
    #copyright-claims {
        padding-inline-start: 60px;
        padding-inline-end: 60px;
    }
}

/* footer ends here */

/* --------------------------------------------------------------------------------------------------- */


/* model box starts here */
/* ======================================================================= */


.model-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    z-index: 10;
}

.modelBox {
    background-color: white;
    width: 62.500vw;
    height: 600px;
    border-radius: 20px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .35s ease-out;
}

.close-button {
    margin: 20px;
    float: right;
    /* width: 2.5rem; */
    /* line-height: 2.5rem; */
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.hide-model {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease-out;
}

.animate-box {
    bottom: 100%;
    transition: all .35s ease-out;
}

.model-contents {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.mail-form {
    justify-self: start;
    width: 350px;
}

.mail-form .main-heading,
#contact-info .main-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 111.8%;
    margin-bottom: 60px;
}

.mail-form .text-box {
    margin-bottom: 30px;
}

.mail-form label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.8%;
    margin-left: 10px;
}

.mail-form input,
textarea {
    width: 300px;
    height: 40px;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
}

.mail-form #user-message {
    height: 100px;
    resize: none;
}

.divider {
    width: 1px;
    height: 400px;
    background-color: #000;
    border-radius: 10px;
}

#contact-info {
    width: 450px;
    margin-left: 50px;
}

#contact-info>* {
    margin-bottom: 25px;
}

#contact-info .model-social-links {
    margin-bottom: 0px;
    margin-top: 60px;
    display: flex;
    column-gap: 25px;
}

.model-style {
    color: #000 !important;
}

.send-mail-btn {
    width: 200px;
    height: 40px;
    background-color: #063247;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.model-social-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

input[type=text],
textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.8%;
    padding-left: 10px;
}

textarea {
    padding-top: 10px;
}



@media only screen and (max-width:1520px) {
    .model-contents {
        margin-left: 50px;
    }

    .mail-form {
        width: 300px;
    }

    .mail-form input,
    textarea {
        width: 250px;
    }

    #contact-info {
        width: 300px;
    }

    .send-mail-btn {
        width: 150px;
    }
}




@media only screen and (max-width:1260px) {
    .model-contents {
        display: flex;
        column-gap: clamp(5px, 100vw, 50px);
        width: max-content;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-inline-start: 50px;
        padding-inline-end: 50px;
        margin-block-start: 100px;
        margin-block-end: 100px;
    }

    .mail-form {
        width: max-content;
    }

    .mail-form input,
    textarea {
        width: clamp(200px, 50vw, 400px);
    }

    #contact-info {
        width: 0px;
        margin-left: 0px;
    }

    .model-social-links {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .model-social-icon {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width:560px) {
    .model-contents {
        column-gap: 30px;
    }

    .mail-form .main-heading {
        font-size: 20px;
    }

}

@media only screen and (max-width:460px) {
    .model-social-icon {
        width: 45px;
        height: 45px;
    }

    .model-contents {
        column-gap: 25px;
    }
}

/* Model box ends here */
/* ==================================================================================================== */


/* Mobile Nav starts here */

.mobile-nav-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100%;
    background-color: var(--accent-color);
    transition: all .35s ease-out;
    z-index: 20;
}

.show-mobile-nav {
    left: 0 !important;
    transition: all .35s ease-out;
}


.mobile-nav>.close-mobile-nav {
    justify-self: end;
    padding: 30px;
    cursor: pointer;
}

.mobile-nav {
    overflow: scroll;
    display: grid;
    row-gap: 30px;
}

.mobile-nav-items {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-inline-start: clamp(40px, 10vw, 80px);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-height:760px) {
    .mobile-nav {
        row-gap: 20px;
    }

    .mobile-nav-items {
        height: 50px;
    }
}