/* variables define here */

:root {
    --accent-color: #063247;
    --light-grey: #404040;
    --dark-grey: #16161d;
}

/*  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    background-color: white !important;
}

header {
    background-color: transparent !important;
}

#first-body {
    height: 100vh;
    max-height: 1080px;
    background-image: url('../assets/index-background-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
}

#content-body {
    padding-inline-start: 5.208vw;
    padding-inline-end: 5.208vw;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width:560px) {
    #content-body {
        margin-top: 100px;
    }
}

#left-side {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}


@media only screen and (max-width: 1260px) {
    #left-side {
        width: 600px;
    }
}

@media only screen and (max-width: 1060px) {
    #left-side {
        width: 500px;
    }
}

@media only screen and (max-width: 900px) {
    #content-body {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    #left-side {
        width: 100%;
        height: 100%;
        grid-template-rows: 2fr 1fr;
    }

    #right-side {
        display: none;
    }

    #hero-section-logo {
        justify-self: center;
    }

    #left-side #text-binding p {
        margin-top: 50px !important;
    }


}


#left-side #text-binding {
    align-self: flex-end;
}

#left-side #text-binding div {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 111.8%;
    text-transform: capitalize;
    /* color: var(--accent-color); */
    color: #fff;
}

#left-side #text-binding p {
    margin-top: 30px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.040em;
    text-transform: capitalize;
    color: #FFFFFF;
}

@media only screen and (max-width: 1260px) {
    #left-side #text-binding {
        width: 400px;
        align-self: center;
    }

    #left-side #text-binding div {
        font-size: 56px;
        width: 600px;
    }

    #left-side #text-binding p {
        width: 600px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #left-side #text-binding div {
        width: 400px;
        font-size: 48px;
    }

    #left-side #text-binding p {
        width: 500px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    #left-side #text-binding {
        width: unset;
        text-align: center;
    }

    #left-side #text-binding div {
        width: unset;
    }

    #left-side #text-binding p {
        width: unset;
    }
}

#left-side #container-button {
    align-self: flex-end;
}

#left-side #container-button button {
    width: 260px;
    height: 70px;
    width: clamp(200px, 20vw, 260px);
    height: clamp(50px, 20vw, 70px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    #left-side #container-button {
        margin-top: 120px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

@media only screen and (max-width: 560px) {
    #left-side #container-button {
        margin-top: 60px;
        display: grid;
        width: 100%;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        justify-items: center;
    }

    #left-side #container-button button {
        width: 250px;
        height: 60px;
    }
}

#left-side #container-button button:nth-child(1) {
    background: var(--accent-color);
    border: 2px hidden var(--accent-color);

}

#left-side #container-button button:nth-child(1):hover {
    background: var(--accent-color);
}

#left-side #container-button button:nth-child(2) {
    background: rgba(3, 22, 31, 0.35);
    border: 3px solid #FFFFFF;
    margin-left: 50px;
}

@media only screen and (max-width: 560px) {
    #left-side #container-button button:nth-child(2) {
        margin-left: unset;
    }
}

#right-side {
    justify-self: flex-end;
    align-self: flex-end;
}

#right-side #img-container {
    width: 26.042vw;
    object-fit: scale-down;
    height: 35.481vw;
    position: relative;
}

#right-side #img-container img {
    object-fit: scale-down;
    width: 13.021vw;
    height: fit-content;
    background: #7A99CC;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4), inset 0px 0px 1.17px rgba(0, 0, 0, 0.35);
}


@media only screen and (max-width: 1260px) {
    #right-side {
        align-self: center;
    }

    #right-side #img-container {
        width: 330px;
        object-fit: scale-down;
        height: 440px;
    }

    #right-side #img-container img {
        width: 160px;
    }
}

#right-side #img-container img:nth-child(1) {
    position: absolute;
    z-index: 3;
    margin-block-start: auto;
    margin-block-end: auto;
    top: 0;
    bottom: 9.25vh;
}

#right-side #img-container img:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 1.563vw;
}

#right-side #img-container img:nth-child(3) {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*Why Choose Us*/
#why-choose-us {
    min-height: 220px;
    height: max-content;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-block-start: 40px;
    padding-block-end: 40px;
}

#why-choose-us h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 111.8%;
    /* identical to box height, or 36px */
    text-transform: capitalize;
    color: #FFFFFF;
}

#why-choose-us span {
    width: 80vw;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.8%;

    /* or 18px */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
    margin-top: 20px;
}

@media only screen and (max-width:560px) {}


#our-products {
    min-height: 1080px;
    height: max-content;
    padding-block-end: 100px;
    background-image: url(../assets/services-page-patterns.png);
    background-repeat: no-repeat repeat-x;
}

#our-products #our-products-title {
    padding-block-start: 60px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

#our-products #heading {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 0.040em;
    text-align: center;
    color: var(--light-grey);
}

#our-products #sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: var(--light-grey);
    text-align: center;
    margin-block-start: 10px;
}

@media only screen and (max-width:560px) {
    #our-products #heading {
        font-size: 2em;
    }

    #our-products #sub-heading {
        font-size: 16px;
    }
}

#our-products #cards-container {
    margin: auto;
    margin-top: 80px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw;
    align-items: center;
}

@media only screen and (max-width:1460px) {
    #our-products #cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-self: center;
        gap: 10vw;
    }
}

.service-cards:nth-child(odd) {
    justify-self: flex-end;
}

.service-cards:nth-child(even) {
    justify-self: flex-start;
}

@media only screen and (max-width:1460px) {
    .service-cards:nth-child(n) {
        justify-self: center;
    }
}

.service-cards {
    width: 600px;
    height: 300px;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    background-color: #fff;
    background-image: url(/assets/temp-img.png);
    background-repeat: no-repeat;
    background-position: 0% -30px;
    transition: all .535s ease-out;
}

/* media query for services card */
@media only screen and (max-width: 760px) {
    .service-cards {
        margin-block-start: 100px;
        min-height: unset;
        max-height: unset;
        min-width: unset;
        max-width: unset;
        height: 500px;
        width: clamp(250px, 50vw, 330px);
        border: 1px solid var(--light-grey);
        border-radius: 20px;
        background-color: #fff;
        background-image: url(/assets/temp-img.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 101%;
        transition: all .535s ease-out;
    }
}


.service-card-texts {
    width: 50%;
    margin-inline-start: 320px;
    padding-inline-start: clamp(20px, 1vw, 30px);
    padding-inline-end: clamp(20px, 1vw, 30px);
}

/* media query for service-card-title */
@media only screen and (max-width: 760px) {
    .service-card-texts {
        width: unset;
        padding-inline-start: unset;
        padding-inline-end: unset;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        margin-block-start: 330px;
    }
}


/* media query for service-cards alignment */
@media only screen and (max-width: 560px) {
    .service-card-texts {
        margin-block-start: 100%;
    }
}

.service-card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: var(--dark-grey);
    padding-top: 24px;
}

.service-card-desc {
    padding-top: 16px;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-right: 20px;
}

/* media query for service-card-title service-card-desc  */

@media only screen and (max-width: 760px) {
    .service-card-title {
        padding-top: 0;
        font-size: 1.5em;
    }

    .service-card-desc {
        font-size: .875em;
    }
}


.service-cards:hover {
    border: 1px solid white;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, .3);
    transition: all .350s ease-out;
}



.see-more-buttons {
    display: block;
    text-align: center;
    margin-block-start: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.040em;
    color: var(--dark-grey);
}

@media only screen and (max-width:760px) {
    .see-more-buttons {
        font-size: 21px;
    }
}

#our-services {
    min-height: 250px;
    height: max-content;
    background-color: var(--dark-grey);
}

#our-services-heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 111.8%;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding-top: 40px;
}

#service-container {
    margin-block-start: 5px;
    margin-inline-start: 10vw;
    margin-inline-end: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-items {
    max-width: 500px;
    min-width: 300px;
    display: grid;
    row-gap: 30px;
}

@media only screen and (max-width:1460px) {
    #service-container {
        grid-template-columns: 1fr;
        grid-row-start: 1fr 1fr;
        row-gap: 50px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }

    #service-container {
        margin-block-start: 60px;
        padding-block-end: 60px;
    }

    .service-items {
        row-gap: 20px;
    }
}

.service-items-title {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-self: center;
}

.service-items-title-icon {
    width: 35px;
    height: 35px;
}

.service-items-title-text {
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 111.8%;
    letter-spacing: 00.040em;
    color: #fff;
}

.service-items-desc {
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 111.8%;
    letter-spacing: 00.040em;
    color: #fff;
    text-align: center;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.service-items:last-child {
    justify-self: end;
}

@media only screen and (max-width:1460px) {
    .service-items:nth-child(n) {
        justify-self: center;
    }
}

.work-images-slideshow {
    padding-block-start: 150px !important;
    padding-block-end: 100px;
    background-image: url(../assets/main-page-gallery-section-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}

@media only screen and (max-width:760px) {
    .work-images-slideshow {
        background-image: unset;
        background: linear-gradient(#F0D4C9 60%, #fff 40%);
        /* background-position: ; */
    }
}


/* model box starts here */
/* ======================================================================= */


.model-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    /* opacity: 0;
            visibility: hidden; */
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}

.modelBox {
    background-color: white;
    width: 62.500vw;
    height: 600px;
    border-radius: 20px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.close-button {
    margin: 20px;
    float: right;
    /* width: 2.5rem; */
    /* line-height: 2.5rem; */
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.hide-model {
    display: none;
}

.model-contents {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.mail-form {
    justify-self: start;
    width: 350px;
}

.mail-form .main-heading,
#contact-info .main-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 111.8%;
    margin-bottom: 60px;
}

.mail-form .text-box {
    margin-bottom: 30px;
}

.mail-form label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.8%;
    margin-left: 10px;
}

.mail-form input,
textarea {
    width: 300px;
    height: 40px;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
}

.mail-form #user-message {
    height: 100px;
    resize: none;
}

.divider {
    width: 1px;
    height: 400px;
    background-color: #000;
    border-radius: 10px;
}

#contact-info {
    width: 450px;
    margin-left: 50px;
}

#contact-info>* {
    margin-bottom: 25px;
}

#contact-info .model-social-links {
    margin-bottom: 0px;
    margin-top: 60px;
    display: flex;
    column-gap: 25px;
}

.model-style {
    color: #000 !important;
}

.send-mail-btn {
    width: 200px;
    height: 40px;
    background-color: #063247;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.model-social-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

input[type=text],
textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.8%;
    padding-left: 10px;
}

textarea {
    padding-top: 10px;
}


@media only screen and (max-width:1520px) {
    .model-contents {
        margin-left: 50px;
    }

    .mail-form {
        width: 300px;
    }

    .mail-form input,
    textarea {
        width: 250px;
    }

    #contact-info {
        width: 300px;
    }

    .send-mail-btn {
        width: 150px;
    }
}

/* Model box ends here */
/* ==================================================================================================== */